# Ignorar archivos de compilación (binarios y temporales)
*.o
*.d
*.asm
*.sym
fs.img
.gdbinit

# Ignorar binarios específicos (pero NO las carpetas)
kernel/kernel
mkfs/mkfs
user/_*

# Ignorar configuración de CLion
.idea/
cmake-build-debug/
.vscode/

# Ignorar sistema
__pycache__/
*.swp
